body                                    { pointer-events: none; position: relative; margin: 0; padding:0; font-family: sans-serif; }
.layout                                 { width: 100%; position: absolute; font-size: medium; display: flex; flex-direction: column; justify-content: space-between; align-items: center; }

.simulation                             { position: absolute; pointer-events: all; }

.simulation-button-row                  { display: flex; flex-direction: row; }
.simulation-button                      { pointer-events: all; font-size: medium; width: 5em; height: 2em; border: 0; padding: 0; margin: 1em; border-radius: 1em; }

.parameter-section                      { width: 100%; display: flex; flex-direction: row; justify-content: space-between; }
.parameter-column                       { display: flex; flex-direction: column; color: #fff; margin: 20px; font-size: small; }
h3.parameter-row-header                 { margin: 1.2em 0 0 0; padding: 0; }
x-parameter                             { margin: 0.5em 0 0 0; display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start; }
.missing-parameter                      { margin: 0.5em 0; }
.range-widget                           { width: 100%; pointer-events: all; display: flex; flex-direction: row; align-items: center; justify-content: flex-start; margin: 0.1em 0 0 0; }
.parameter-button                       { pointer-events: all; border: 0; padding: 0; margin: 0; width: 1.5em; height: 1.5em; border-radius: 1.25em; }
.parameter-range                        { padding: 0; margin: 0 0.2em; flex: 2; }

.footer                                 { position: fixed; bottom: 0.5em; right: 0.5em; color: #fff8; font-size: small; }